.feedback-list-container {
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between; /* Align title to the left and search to the right */
  align-items: center; /* Center items vertically */
  margin-bottom: 20px; /* Space below the header */
}

.feedback-title {
  margin: 0; /* Remove default margin */
}

.search-form {
  display: flex; /* Align input and button in a row */
}

.search-input {
  padding: 5px;
  font-size: 16px;
  margin-right: 10px; /* Space between input and button */
  
}

.search-button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.feedback-table {
  width: 100%;
  border-collapse: collapse;
}

.feedback-table th, .feedback-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.pagination-btn {
  margin-top: 20px; /* Space above the button */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.search-button + .search-button {
  margin-left: 10px; /* Adjust gap as needed */
}